// Specific CSS for your home-page
.container-cards {
  width: auto;
  height: 350px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

h4 {
  margin-bottom: 0px;
  margin-left: 35px;
  margin-top: 30px;
  color: #505050;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
