.wrapper-show {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}

.card-flat {
  overflow: hidden;
  background: white;
  width: 60%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  border-radius: 10px;
}

.card-flat > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.card-flat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #ff5b60;
}

.card-flat p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-flat .card-flat-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-flat-infos .card-flat-user {
  width: 40px;
}

.card-flat-description {
  padding: 16px;
}

.card-flat-pricing {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 16px;
  color: #ff5b60;
}

.card-flat-pricing h2 {
  text-align: right;
}

.card-flat-link {
  color: #ff5b60;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  a {
    color: #ff5b60;
  }
  a:hover {
    text-decoration: none;
    color: #ea383e;
  }
}

.flat-options {
  display: flex;
  align-items: center;
}
