<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1498085245356-7c3cda3b412f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1734&q=80');">
  <div class="banner-content">
    <h1>AiRBnB</h1>
    <p>Stay your way</p>
    <a class="btn btn-primary btn-lg">Post your flat</a>
  </div>
</div>
