<div class="dash-container">
  <div class="dash-card">
    <div class="dash-pic-data">
      <div class="dash-pic"></div>
      <div class="dash-data">
        <div class="dash-dates"></div>
        <div class="dash-price"></div>
        <div class="dash-status"></div>
      </div>
    </div>
    <div class="dash-info">
      <div class="dash-city-title-type">
        <div class="dash-city"></div>
        <div class="dash-title"></div>
        <div class="dash-type"></div>
      </div>
      <div class="description"></div>
    </div>
  </div>
</div>
