<div class="footer">
  <div class="footer-links">
    <div class="airbnb-logo-footer">
      <a href="/" class="navbar-wagon-brand">
        <%= image_tag "logo.png" %>
      </a>
    </div>

      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
         <div class="social-links-footer">
           <a href="#"><i class="fab fa-github"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-facebook"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-linkedin"></i></a>
          </ul>
        </div>

    </div>
  </div>
  <div class="footer-copyright">
  </div>
</div>
