<div class="form-inline" role="form">
  <%= form_tag flats_path, method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
  placeholder: "Find your city" %>
   <button type="submit" name="commit" value="Search" class="btn btn-danger btn-fill">Search</button>
  <% end %>
</div>

