<div class="class search">
      <form class="form-inline" role="form">
        <div class="form-group">
        <input type="search" class="form-control transparent" placeholder="Search your acomodation...">
        </div>
        <button type="submit" class="btn btn-danger btn-fill">Search</button>
      </form>
</div>


