<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to 'My Flats', dashboard_places_path %>
  </li>
  <li>
    <%= link_to 'My Trips', dashboard_trips_path %>
  </li>
  <li>
    <%= link_to 'My Bookings', dashboard_bookings_path %>
  </li>
</ul>
