/* Main navbar */
.navbar-wagon-transparent {
  box-shadow: none;
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* User Avatar */
.navbar-wagon-transparent .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
